<h2>Por Capital</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- Search Box -->

        <!-- 
            * Funciona con enter
            <shared-search-box
            (onValueEmitter) = "searchByCapital($event);"
            placeholder="Buscar por Capital "
        ></shared-search-box> -->

        <shared-search-box
            (onDebaunceEmitter)="searchByCapital($event);"
            [initialTerm] = "initialTerm"
            placeholder="Buscar por Capital "
        ></shared-search-box> 

    </div>
</div>

<div class="row">
    <div class="col">
        <hr>

        <shared-loading-spinner
            *ngIf="isLoading"
        ></shared-loading-spinner>

        <countries-table [countries]="countriesList"></countries-table>
    </div>
</div>